---
layout: default
---

{% if page.status == "Draft" %}
<div class="draft">
  ⚠️ 该 EIP 不建议普遍使用或实施，因为它可能会发生变化。
</div>
{% elsif page.status == "Review" %}
<div class="review">
  📖 本 EIP 正处于审查阶段。它可能会有变化，希望得到反馈。
</div>
{% elsif page.status == "Last Call" %}
<div class="lastcall">
  📢 本 EIP 正处于最后一次征集审查阶段。作者希望最终确定 EIP，并感谢反馈。
</div>
{% elsif page.status == "Stagnant" %}
<div class="stagnant">
  🚧 本 EIP 至少有6个月没有活动。
</div>
{% elsif page.status == "Withdrawn" %}
<div class="withdrawn">
  🛑 本 EIP 已被撤回。 {{page.status}}
</div>
{% endif %}

<div class="home">
  <h1 class="page-heading">
    EIP-{{ page.eip | xml_escape }}: {{ page.title | xml_escape }}
    <a href="{{site.github.repository_url}}/blob/cn/{{page.path}}"><svg role="img" aria-label="Source"
        xmlns="https://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16">
        <title>Source</title>
        <path fill-rule="evenodd"
          d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z" />
      </svg></a>
  </h1>
  <h3>{{ page.description | xml_escape }}</h3>
  <table>
    <tr>
      <th>作者</th>
      <td>{% include authorlist.html authors=page.author %}</td>
    </tr>
    {% if page["discussions-to"] != undefined %}
    <tr>
      <th>讨论-To</th>
      <td><a href="{{ page[" discussions-to"] | uri_escape }}">{{ page["discussions-to"] | xml_escape }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <th>状态</th>
      <td>{{ page.status | xml_escape }}
        {% if page.last-call-deadline != undefined %}
    <tr>
      <th>最后征集期限</th>
      <td>{{ page.last-call-deadline | xml_escape }}</td>
    </tr>
    {% endif %}
    </td>
    </tr>
    <tr>
      <th>类型</th>
      <td>{{ page.type | xml_escape }}</td>
    </tr>
    {% if page.category != undefined %}
    <tr>
      <th>分类</th>
      <td>{{ page.category | xml_escape }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>创建日期</th>
      <td>{{ page.created | xml_escape }}</td>
    </tr>
    {% if page.updated != undefined %}
    <tr>
      <th>更新日期</th>
      <td>{{ page.updated | xml_escape }}</td>
    </tr>
    {% endif %}
    {% if page.requires != undefined %}
    <tr>
      <th>依赖</th>
      <td>{% include eipnums.html eips=page.requires %}</td>
    </tr>
    {% endif %}
    {% if page["withdrawal-reason"] != undefined %}
    <tr>
      <th>撤回原因</th>
      <td>{{ page["withdrawal-reason"] | xml_escape }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>英文版</th>
      <td>
        <a href="https://eips.ethereum.org/EIPS/eip-{{ page.eip | xml_escape }}">https://eips.ethereum.org/EIPS/eip-{{ page.eip | xml_escape }}</a>
      </td>
    </tr>
  </table>

  <div class="toc">
    <h2>目录</h2>
    {% include toc.html html=content sanitize=true h_max=3 %}
  </div>

  {% include anchor_headings.html html=content anchorClass="anchor-link" beforeHeading=true %}

  <h2>参考文献</h2>
  <p>Please cite this document as:</p>
  {% comment %}
  IEEE specification for reference formatting:
  https://ieee-dataport.org/sites/default/files/analysis/27/IEEE%20Citation%20Guidelines.pdf
  {% endcomment %}
  <p>{% include authorlist.html authors=page.author %}, "EIP-{{ page.eip | xml_escape }}: {{ page.title | xml_escape
    }}{% if page.status == "Draft" or page.status == "Stagnant" or page.status == "Withdrawn" or page.status == "Review"
    or page.status == "Last Call" %} [DRAFT]{% endif %}," <em>Ethereum Improvement Proposals</em>, no. {{ page.eip |
    xml_escape }}, {{ page.created | date: "%B %Y" }}. [Online serial]. Available: https://eips.ethereum.org/EIPS/eip-{{
    page.eip | xml_escape }}.</p>
</div>
{% comment %}
Article schema specification:
https://schema.org/TechArticle
{% endcomment %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "headline": "EIP-{{ page.eip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Stagnant" or page.status == "Withdrawn" or page.status == "Review" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "author": "{{ page.author }}",
    "name": "EIP-{{ page.eip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Stagnant" or page.status == "Withdrawn" or page.status == "Review" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "dateCreated": "{{ page.created | date: "%Y-%m-%d" }}",
    "datePublished": "{{ page.created | date: "%Y-%m-%d" }}",
{% if page["discussions-to"] != undefined %}
    "discussionUrl": "{{ page["discussions-to"] | uri_escape }}",
{% endif %}
    "inLanguage": "en-US",
    "license": "#copyright",
    "copyrightYear": "{{ page.created | date: "%Y" }}"
  }
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML"
  integrity="sha512-bzXk9PaBIjgXcM+0Z7wbOE4AAMnmMoecyB8zX3irP4IRUDNGMmWXoLiRvEDeeq0RfhLA0eOFvB3wPFzBvWcVdw=="
  crossorigin="anonymous">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [["$", "$"]],
        displayMath: [["$$", "$$"]],
        processEscapes: true
      },
      asciimath2jax: {
        delimiters: [] // Disable asciimath
      }
    });
  </script>